.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
}


.componentLoading {
    color: rgb(232, 221, 221);
    font-size: 20px;
    letter-spacing: 0.15em;
}

.errorCity{
    color: rgb(133, 105, 105);
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0rem 2rem;
}

.content {
    background-color: hsla(0, 1%, 50%, 0.50);
    display: flex;
    flex-direction: column;
    padding: 2rem 0.95rem 1rem;
    border-radius: 2rem;
    min-width: 350px;
    height: 500px;
    
    box-shadow: 0.1rem 0.1rem 15px rgb(246, 243, 243);
    cursor: pointer;
    transition: 0.35s;
}

.content:hover{
    background-color: hsla(0, 1%, 50%, 0.75);
}

/*************Permisos de Localizacion************************/

.permisssionsLocation{
    background-color: hsla(0, 1%, 50%, 0.80);
    padding: 4.5rem;
    width: 380px;
    color: white;
    border-radius: 3rem;
    text-align: center;
    font-size: 12px;
    box-shadow: 0.1em 0.1em 0 0 rgb(240, 240, 240), inset 0.1em 0.1em 0 0 rgb(235, 241, 232);
    line-height: 43px;
}

.permisssionsLocation h1 span{
    color: rgb(9, 230, 31);
    font-size: 25px;
}




/*************boton para regresar a Lat y Lon ********************/
.seeLocation {
    padding: 1rem;
    border-radius: 0.7rem;
    width: 210px;
    border: none;
    font-weight: bold;
    background-color: hsla(0, 1%, 50%, 0.40);
    box-shadow: 0.1em 0.1em 0 0 rgb(240, 240, 240), inset 0.1em 0.1em 0 0 rgb(235, 241, 232);
    
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.45s;

   
}
.seeLocation:hover{
    background-color: white;
    color: black;
}

/********************Form***********************************/
.formCity {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nameCity {
    width: 230px;
    height: 35px;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    color: hsla(0, 1%, 50%, 0.90);;
    border: none;
    background-color: white;
    padding: 1rem;
    outline: none;


}

.formCity button {
    background-color: rgb(40, 36, 36);
    width: 100px;
    height: 40px;
    padding: 0.3rem;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    color: rgb(252, 247, 247);
    font-weight: bold;
    font-size: 15px;
    border: none;

}



/********************Encabezado *********************************/
.contentTitle {
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    color: rgb(210, 247, 196);
    height: 100px;
}

.contentTitle h1 {
    color: rgb(246, 246, 246);
}

/***********************Cuerpo*******************************/
.contentWeather {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentWeather img {
    width: 160px;
    height: 140px;
}

.contentDescription {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 100%;
}

.contentDescription h3 {
    text-align: center;
    font-size: 23px;
    color: white
}

.contentList {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    justify-content: space-between;
    color: rgb(210, 247, 196);

}

.contentListSon {
    text-align: center;
    font-size: 18px;
}

.contentListSon :nth-child(2) {
    font-weight: bold;
    color: white;
}



/*************************Footer*******************************/
.contentChange {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
    margin-top: auto;
    margin-bottom: 1rem;
    color: rgb(210, 247, 196);
}

.contentChange h1 {
    font-size: 32px;
}

.contentChange button {
    padding: 1rem;
    width: 160px;
    border-radius: 1rem;
    border: none;
    color: white;
    background-color: black;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
    transition: 10;
    box-shadow: 0.1rem 0.1rem 15px rgb(246, 243, 243);
}

.contentChange button:active{
    font-size: 17px;
    background-color: rgb(241, 241, 241, 20%);
}



@media (max-width: 380px) {

    .container {
        width: 280px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 0;
    }

    .content {
        padding: 1rem;
        border-radius: 2rem;
        min-width: 270px;
        min-height: 450px;
    }

    .permisssionsLocation{
        font-size: 9px;
        width: 259px;
        padding: 2.5rem;
        line-height: 37px;
    }
    .permisssionsLocation h1 span{
        color: rgb(9, 230, 31);
        font-size: 19px;
    }

    .SeeLocation {
        font-size: 14px;
        width: 160px;
    }

    .errorCity{
        font-size: 15px
    }

    #nameCity {
        width: 170px;
    }

    .contentTitle {
        font-size: 18px;
    }

    .contentWeather img {
        width: 140px;
        height: 120px;
    }

    .contentDescription h3 {
        font-size: 20px;
    }

    .contentChange h1 {
        font-size: 28px;
    }

    .contentList{
        gap: 0.5px;
    }
    .contentListSon {
        font-size: 16px;
    }
    .contentListSon p {
       width: 83px;
    }
   
    .contentChange button {
        width: 130px;
        font-size: 15px;
    }
    .contentChange button:active{
        font-size: 14px;
        background-color: rgb(241, 241, 241, 20%);
    }

    .formCity button {
        width: 80px;
    }

}



@media (min-width: 700px) {
    
    .container {
        padding: 3rem 4rem 2rem;
        gap: 2rem;
    }

    .content {
        height: 500px;
        justify-content: center;
        gap: 2rem;
        padding: 3rem 4rem 1rem;
    }

    .permisssionsLocation{
        font-size: 18px;
        width: 500px;
        padding: 5rem;
        line-height: 50px;
    }
    .permisssionsLocation h1 span{
        font-size: 36px;
        width: 500px;
    }

    #nameCity {
        width: 400px;
        height: 50px;
    }

    .formCity button {
        height: 50px;
    }

    .contentWeather {
        flex-direction: row;

    }

    .contentList {
        flex-direction: column;
    }

    .contentListSon {
        display: flex;
        gap: 2rem;
        width: 100%;
    }

    .contentChange h1 {
        font-size: 38px;
    }

    .contentWeather img {
        width: 200px;
        height: 180px;
    }

    .contentListSon :nth-child(1) {
        width: 100px;
        text-align: left;
    }

    .componentLoading {
        font-size: 40px;
    }

    .errorCity{
        font-size: 48px;
    }
}